<link href="~/css/page-top-padding.css" rel="stylesheet">
<link href="~/css/exercises.css" rel="stylesheet">



<!-- Exercises Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center page-start">
                <h2>Exercises</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/img/exercises/numbers_functions_larger.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/img/exercises/factorial-image.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/img/exercises/fizz-buzz-image.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-6 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/img/exercises/palindrome-tester-image.png" class="img-responsive" alt="">
                </a>
            </div>
           
        </div>
    </div>
</section>
<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Numbers Functions</h2>
                        <hr class="star-primary">
                        <div class="main">
                            <p>Enter at least five numbers to add to the array:</p>

                            <form id="enter-number-numbers">
                                <input type="text" id="new-number-numbers">
                                <button id="submit-button-numbers">Submit</button>
                            </form>

                            <div id="button-panel">
                                <div id="least-display"><button id="least-button">Least</button></div>
                                <div id="greatest-display"><button id="greatest-button">Greatest</button></div>
                                <div id="mean-display"><button id="mean-button">Mean</button></div>
                                <div id="sum-display"><button id="sum-button">Sum</button></div>
                                <div id="product-display"><button id="product-button">Product</button></div>
                            </div>

                            <div id="current-numbers">
                                <p>Current numbers:</p>
                            </div>

                        </div>
                        <br />
                        <p>View code:</p>
                        <pre class="brush: js" style="text-align: left;">
            $(document).ready(function() {
                var numbersArray = [];
                $("#submit-button-numbers").click(function(event) {
                    event.preventDefault();
                    var myInput = $("#new-number-numbers").val();
                    if (+(myInput) % 1 != 0) {
	                    alert("Input must be an integer");
                    }
	
	                else {
	                    var number = parseInt(+(myInput));
                        addToArray(number);
	                    $("#new-number-numbers").val('');
                    }
                });
	            function addToArray(myNumber) {
                    numbersArray.push(myNumber);
		            $("#current-numbers").append(myNumber + "&lt;br>");
	            }
	            $("#least-button").click(function(event) {
		            if(numbersArray.length &lt; 5) {
			            alert("Please enter at least five numbers");
		            }
		            else {
			                $("#least-display").append("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + least());
		            }
	            });
	                $("#greatest-button").click(function(event) {
		            if(numbersArray.length &lt; 5) {
			            alert("Please enter at least five numbers");
		            }
		            else {
			            $("#greatest-display").append("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + greatest());
		            }
	            });
	            $("#mean-button").click(function(event) {
		            if(numbersArray.length &lt; 5) {
			            alert("Please enter at least five numbers");
		        }
		        else {
			        $("#mean-display").append("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + mean());
		        }
	        });
	        $("#sum-button").click(function(event) {
		    if(numbersArray.length &lt; 5) {
			    alert("Please enter at least five numbers");
		    }
		    else {
			    $("#sum-display").append("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + sum());
		    }
	    });
	    $("#product-button").click(function(event) {
		    if(numbersArray.length &lt; 5) {
			    alert("Please enter at least five numbers");
		    }
		    else {
			    $("#product-display").append("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + product());
		    }
	    });
	    function least() {
		    var myLeast = numbersArray[0];
		    for(var i=1; i&lt;numbersArray.length; i++){
                if (myLeast> numbersArray[i]){
				    myLeast = numbersArray[i];
			    }
		    }
		    return myLeast;
	    }
	    function greatest() {
		    var myGreatest = numbersArray[0];
		    for(var i=1; i&lt;numbersArray.length; i++){
                if (myGreatest &lt; numbersArray[i]){
				    myGreatest = numbersArray[i];
			    }
		    }
		    return myGreatest;
	    }
	    function mean() {
		    //var newArray = numbersArray.slice();
		    numbersArray.sort(function(a, b) {
			    return a-b;
		    });
		    var myIndex = 0;
		    if(numbersArray.length % 2 == 0){
			    myIndex = parseInt((numbersArray.length / 2) - 1);
			    return numbersArray[myIndex];
		    }
		    else {
			    myIndex = parseInt(numbersArray.length / 2);
			    return numbersArray[myIndex];
		    }
	    }
	    function sum() {
		    var mySum = 0;
		    for(var i=0; i&lt;numbersArray.length; i++){
			    mySum+=numbersArray[i];
		    }
		    return mySum;
	    }
	    function product() {
		    var myProduct = 1;
		    for(var i=0; i&lt;numbersArray.length; i++){
			    myProduct*=numbersArray[i];
		    }
		    return myProduct;
	    }
    });
     </pre>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Factorial Function</h2>
                        <hr class="star-primary">
                        <div class="text-center">
                            <p>Enter non-negative integer:</p>

                            <form id="enter-number-factorial">
                                <input type="text" id="new-number-factorial">
                                <button id="submit-button-factorial">Submit</button>
                            </form>
                            <p>Factorial: </p>
                            <div id="factorial-result">

                            </div>

                        </div>
                        <br />
                        <p>View code:</p>
                        <pre class="brush: js" style="text-align: left;">
    $(document).ready(function() {
	$("#submit-button-factorial").click(function(event) {
		event.preventDefault();
		$("#factorial-result").empty();
		var myInput = $("#new-number-factorial").val();
		if (+(myInput) % 1 != 0) {
			alert("Input must be an integer");
		}
		else if	(+(myInput) < 0){
			alert("Input must not negative");
		}
		else {
			var number = parseInt(+(myInput));
			$("#factorial-result").append(factorial(number));
		}
	});
	function factorial(myNumber){
		var myProduct = myNumber;
		var i = myNumber;
		while(i > 1) {
			i--;
		 	myProduct*=i;
		}
		return myProduct;
	}
});
     </pre>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Fizz Buzz Function</h2>
                        <hr class="star-primary">
                        <div class="main">
                            <p>Enter two numbers between 1 and 100:</p>

                            <form id="enter-numbers-fizz-buzz">
                                <P>
                                    <label for="number-1">First number</label><br>
                                    <input type="text" id="number-1-fizz-buzz">
                                </P>

                                <p>
                                    <label for="number-2">Second number</label><br>
                                    <input type="text" id="number-2-fizz-buzz">
                                </p>
                            </form>

                            <p>Press the button to print out numbers 1 through 100 replacing number with "Fizz" if divisible by the first number, "Buzz" if divisible by the second number and "FizzBuzz" if divisible by both the first and second numbers.</p>
                            <button id="submit-button-fizz-buzz">FizzBuzz!</button>

                            <div id="fizz-buzz-result">
                            </div>

                        </div>
                        <br />
                        <p>View code:</p>
                        <pre class="brush: js" style="text-align: left;">
$(document).ready(function() {
	$("#submit-button-fizz-buzz").click(function(event) {
		event.preventDefault();
		$("#fizz-buzz-result").empty();
		var myInput1 = $("#number-1-fizz-buzz").val();
		var myInput2 = $("#number-2-fizz-buzz").val();
		if(myInput1 == '' || myInput2 == ''){
			alert("Please enter two values");
		}
		else if(validateNumber(myInput1) && validateNumber(myInput2)){
			var number1 = parseInt(myInput1);
			var number2 = parseInt(myInput2);
			fizzBuzz(number1, number2);
		}
	});
	function validateNumber(myInput) {
		if (+(myInput) % 1 != 0) {
			alert("Input must be an integer");
			return false;
		}
		else if	((+(myInput) < 0) || (+(myInput) > 100)){
			alert("Input must be between 1 and 100");
			return false;
		}
		else {
			return true;
		}
	}
	function fizzBuzz(myNumber1, myNumber2){
		for(var i=1; i<=100; i++){
			if(i % myNumber1 == 0){
				$("#fizz-buzz-result").append("Fizz");
			}
			if(i % myNumber2 == 0){
				$("#fizz-buzz-result").append("Buzz");
			}
			if(i % myNumber1 != 0 && i % myNumber2 != 0) {
				$("#fizz-buzz-result").append(i);
			}
			$("#fizz-buzz-result").append("<br />");
		}
	}
});
     </pre>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Palindrome Tester</h2>
                        <hr class="star-primary">
                        <div class="text-center">
                            <p>Enter a word:</p>

                            <form id="enter-word-palindrome">
                                <input type="text" id="new-word-palindrome" size="25">
                                <button id="submit-button-palindrome">Submit</button>
                            </form>
                            <p>Is palindrome: </p>
                            <p id="is-palindrome">

                            </p>

                        </div>
                        <br />
                        <p>View code:</p>
                        <pre class="brush: js" style="text-align: left;">
$(document).ready(function() {
	$("#submit-button-palindrome").click(function(event) {
		event.preventDefault();
		$("#is-palindrome").empty();
		var myInput = $("#new-word-palindrome").val();
		if(myInput == ''){
			alert("Please enter a word");
		}
		else {
			var letterArray = myInput.split("");
			if(checkPalindrome(letterArray) == true) {
				$("#is-palindrome").append("Yes");
			}
			else {
				$("#is-palindrome").append("No");
			}
		}
	});
	function checkPalindrome(myLetterArray){
		var middle = 0;
		var isPalindrome = true; //flag if the word is a palindrome
		var end = myLetterArray.length - 1;
		if(myLetterArray.length % 2 == 1) {
			middle = parseInt((myLetterArray.length - 1)/2);
		}
		else {
			middle = myLetterArray.length / 2;
		}
		for(var i=0; i&lt; middle; i++) {
            if(myLetterArray[i] != =myLetterArray[end - i]){
                isPalindrome=false;
            }
        }
        return isPalindrome;
    }
});
                        </pre>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="~/js/app-factorial.js"></script>
<script src="~/js/app-numbers.js"></script>
<script src="~/js/app-fizz-buzz.js"></script>
<script src="~/js/app-palindrome.js"></script>



